<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HITECK STORE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>HITECK STORE</h1>
    <h2> choose your product type</h2>
    <form action="">
       <div class="mb">
        <input type="checkbox" id="mobile" name="mobile">
        <label for="mobile">your mobile:</label>
       </div> 

        <div class="pc">
          <input type="checkbox" id="computer" name="computer">
          <label for="computer">your computer:</label>
       
        </div>
        <input type="submit",name="submit">
    </form>

    
</body>
</html>